.weather-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 0.25rem;
}
.weather-panel .weather-panel-left .select-date > div {
  padding-left: 0;
  background-color: transparent;
  border: none;
  color: #fff;
}

.weather-panel .weather-panel-left .select-date > span > span {
  opacity: 0;
}

.weather-panel .weather-panel-right {
  display: flex;
}
.weather-panel .weather-panel-right > div {
  margin-left: 0.75rem;
}

.weather-panel-tab {
  display: flex;
}

.weather-panel-tab,
.weather-panel-tab li {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
}
.weather-panel-tab li[class*="--selected"] {
  opacity: 1;
  transform: scale(1.1);
  display: flex;
}
.weather-panel-tab li {
  margin-left: 0.675rem;
}

.temp-panel {
  display: flex;
  justify-content: space-between;
}
.temp-panel .temp-item {
  padding-top: 0.5rem;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}
.temp-panel .temp-item img {
  width: 26px;
  margin-bottom: 0.125rem;
}

.temp-panel .temp-item p {
  margin-bottom: 0;
}
